<%- include('../../partials/head.ejs') %>
<%- include('../../partials/admin/navbar.ejs') %>
<div class="container">
    <hr>
        <div class="d-flex justify-content-between align-items-center">
            <h1>Artigos</h1>
            <a href="/admin/artigos/novoArtigo" class="btn btn-dark">Criar novo artigo</a>
        </div>
    <hr>
    <table class="table table-hover">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Slug</th>
            <th scope="col">Categoria</th>
            <th scope="col">Acoes</th>
          </tr>
        </thead>
        <tbody>
          <% artigos.forEach(artigo => { %>
            <tr>
              <th scope="row"><%= artigo.id %></th>
              <td><%= artigo.titulo %></td>
              <td><%= artigo.slug %></td>
              <td><%= artigo.categoria.titulo %></td>
              <td>
                <a href="/admin/artigos/editar/<%= artigo.id %>" class="btn btn-warning">Editar</a>
                <form action="/admin/artigos/deletar" method="POST" class="d-inline" onsubmit="confirmarDelecao(event, this)">
                  <input type="hidden" name="id" value="<%= artigo.id %>">
                  <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
  function confirmarDelecao(event, form){
      event.preventDefault();
      var decisao = confirm('Voce quer deletar esse artigo?');

      if(decisao){
          form.submit();
      }
  }
</script>